* {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: -moz-linear-gradient(
    top,
    #eff2f7 0%,
    #a4c4f3 32%,
    #9ebeee 99%,
    #9ebeee 99%,
    #dce8fc 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #eff2f7 0%,
    #bbd1f1 32%,
    #9ebeee 99%,
    #9ebeee 99%,
    #dce8fc 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #eff2f7 0%,
    #bbd1f1 32%,
    #9ebeee 99%,
    #9ebeee 99%,
    #dce8fc 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff2f7', endColorstr='#dce8fc',GradientType=0 ); /* IE6-9 */

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: unset;
  height: 100vh;
}
/*se a tela tiver pelo menos 400px, carregue estes estilos */
@media (min-width: 300px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
  }
  header {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 250px;
    padding: 0;
    float: left;
  }
  .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgb(160, 180, 189), 0 0 5px rgb(26, 46, 56);
  }

  .footer .link {
    margin-top: 4px;
    text-align: center;
    display: block;
    transition: background-color 1s, color 2s;
  }
  .footer .link {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
  .footer a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: text-shadow 1s;
  }
  
  .menu .login:hover {
    background-color: #969d89;
    color: #969d89;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
    align-self: center;
  }
  .login-form {
    padding: 6em;
    margin-top: 0;
    width: auto;
    text-align: left;
    position: fixed;
    top: 0;
  }

  .formulario {
    width: auto;
    padding: 10px;
    margin-top: 3em;
  }
  
  form.formulario{
    padding-bottom: 1em;
    padding-top: 3em;
    }
  .formulario {
    background: #5d949e;
    box-shadow:  0 0 10px rgb(160, 180, 189);
    padding: 4em;
    margin-top: 2em;
    text-align: center;
    border-radius: 5%;
  }
  .formulario h1 {
    text-align: center;
    color: rgb(1, 8, 31);
    font-size: 40px;
  }
  .formulario .button,
  .login-form .button {
    border: none;
    width: 80%;
    color: white;
    font-size: 1em;
    background: rgb(2, 0, 36);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 25px;
   
  }
  @media (min-width: 630px) {
    .formulario .button {
      margin-left: 1.5em;
    }
  }
  .login-form .loginerror{
    color: white;
    background: red;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
  }
  .login-form .success{
    color: white;
    background: rgb(5, 107, 5);
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  .formulario p {
    text-align: center;
    color: rgb(2, 0, 36);
  }
  .formulario .button:hover {
    background: #2e6a92;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 16px;
    width: 90%;
    padding: 10px;
    border: none;
  }
  .input-container {
    margin-bottom: 10px;
  }
  .icon {
    min-width: 20px;
    text-align: left;
    color: rgb(3, 40, 71);
  }
  .formulario .link {
    text-decoration: none;
    color: whitesmoke;
  }
  .login-form h1 {
    font-weight: bold;
    color: white;
    padding: 20px;
  }
  .login-form .titulo {
    margin-top: 3em;
    font-weight: bold;
    color: black;
    padding: 0;
  }
  .login-form h2 {
    margin-top: 1em;
    color: black;
    margin-bottom: 2em;
  }
}
