* {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #0f6f80;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: unset;
  height: 100vh;
}
/*se a tela tiver pelo menos 400px, carregue estes estilos */
@media (min-width: 300px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
  }
}

/* breakpoint*/
@media (min-width: 300px) {
  body {
    font-size: 20px;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 250px;
    padding: 0;
    float: left;
  }
  .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 10px rgb(160, 180, 189), 0 0 5px rgb(160, 180, 189);
  }

  /* breakpoint*/
  @media (min-width: 1300px) {
    .logo {
      transform: translate(-40%, 0%);
    }
  }
  .menu .link {
    padding: 10px 20px;
    display: block;
    transition: background-color 1s, color 2s;
  }
  .menu .link {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
  .menu .link:active,
  .menu .link:hover {
    color: rgb(134, 180, 189);
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(134, 180, 189), 0 0 5px rgb(160, 180, 189);
  }
  .menu .login:hover {
    color: #2e6a92;
    background-color: rgb(2, 0, 36);
  }
  .menu .login{
    transform: translate(+50%, 0%);
  }
  .menu ul {
    display: flex;
    justify-content: space-evenly;
  }
  .menu li {
    list-style: none;
    align-self: center;
  }

  .contato {
    background-color: #5d949e;
    min-height: 5vh;
    padding: 1em;
    text-align: center;
  }
  .contato p {
    font-size: 1.2em;
    box-shadow: 0 0 5px rgb(134, 180, 189), 0 0 5px rgb(160, 180, 189);
    color: whitesmoke;
    font-weight: lighter;
    font-style: italic;
    font-family: "Open Sans", sans-serif;
  }
  .contato .icons {
    text-align: center;
    font-size: 3em;
  }
  .contato a {
    text-decoration: none;
    color: rgb(1, 8, 31);
    font-size: 1em;
    transition: text-shadow 1s;
  }

  .contato a:active,
  .contato a:hover {
    color: rgb(134, 180, 189);

    text-shadow: 0 0 5px rgb(170, 180, 309), 0 0 5px rgb(160, 180, 189);
  }
  .sobre .avatar,
  .info .avatar {
    margin-right: 3em;
    padding: 2em;
    margin-top: 1em;
  }
  .sobre .avatar {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: linear 2s animacaoSobre forwards;
    float: left;
    width: 40%;
  }

  @keyframes animacaoSobre {
    0% {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  .sobre {
    padding: 2em;
    min-height: 100vh;
    background-color: #5d949ec9;
    width: auto;
    align-items: center;
  }

  @media (min-width: 1200px) {
    .sobre,
    .info {
      margin-left: auto;
      margin-right: auto;
      max-width: 1400px;
    }
  }

  .sobre h1 {
    font-family: "Poppins";
    font-weight: bold;
    text-align: right;
    margin-top: 2em;
    font-size: 3em;
    color: white;
  }
  .sobre h2 {
    text-align: right;
    padding: 0em;
    color: white;
  }
  .sobre p {
    margin-top: 10px;
    color: rgb(1, 8, 31);
    padding: 1em;
    text-align: right;
    margin-bottom: 0.5em;
    font-size: 22px;
    font-weight: lighter;
    font-family: Roboto;
  }
  .info .avatar {
    float: right;
    width: 60%;
  }
  .info {
    padding: 2em;
    min-height: 100vh;
    background-color: white;
    width: auto;
    text-align: left;
  }

  .info .titulo {
    margin-top: 3em;
    font-weight: bold;
    color: black;
    padding: 0;
    font-size: 2em;
  }
  .info h2 {
    margin-top: 1em;
    color: black;
    margin-bottom: 2em;
  }

  .info .texto {
    color: black;
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 20px;
  }
}
