* {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #5d949e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: unset;
  height: 100vh;
}
/*se a tela tiver pelo menos 400px, carregue estes estilos */
@media (min-width: 300px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
  }
}

/* breakpoint*/
@media (min-width: 300px) {
  body {
    font-size: 20px;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 250px;
    padding: 0;
    float: left;
  }
  .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    background-color: white;
  }

  /* breakpoint*/
  @media (min-width: 1300px) {
    .logo {
      transform: translate(-70%, 0%);
    }

  }
  .menu link {
    padding: 10px 20px;
    display: block;
    transition: background-color 1s, color 2s;
  }
  .menu .link {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
  .menu .link:active,
  .menu .link:hover {
    color: rgb(134, 180, 189);
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(134, 180, 189), 0 0 5px rgb(160, 180, 189);
  }
  .menu .login:hover {
    background-color: #969d89;
    color: #969d89;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
    align-self: center;
  }

  .contato {
    background-color: #5d949e;
    min-height: 5vh;
    padding: 1em;
    text-align: center;
  }
  .contato p {
    font-size: 1.2em;
    box-shadow: 0 0 5px rgb(134, 180, 189), 0 0 5px rgb(160, 180, 189);
    color: whitesmoke;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    
  }
  .contato .icons {
    text-align: center;
    font-size: 3em;
    
  }
  .contato a {
    text-decoration: none;
    color: rgb(1, 8, 31);
    font-size: 1em;
    transition: text-shadow 1s;
  }

  .contato a:active,
  .contato a:hover {
    color: rgb(134, 180, 189);
    
    text-shadow: 0 0 5px rgb(170, 180, 309), 0 0 5px rgb(160, 180, 189);
  }
  .sobre .avatar{
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s animacaoSobre forwards;
  }
  @keyframes animacaoSobre {
    0% {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  .sobre  {
    padding: 2em;
    min-height: 100vh;
    background-color: #5d949e;
    width: auto;
    align-items: center;
  }

  @media (min-width: 1200px) {
    .sobre,
    .login-form {
      margin-left: auto;
      margin-right: auto;
      max-width: 1400px;
    }
  }

  .sobre h1 {
    font-family: 'Poppins';
    font-weight: bold;
    text-align: right;
    margin-top: 2em;
    font-size: 3.5em;
    color: white;
  }
  .sobre h2 {
    text-align: right;
    padding: 0em;
    color: white;
  }
  .sobre p {
    margin-top: 10px;
    color: rgb(1, 8, 31);
    padding: 1em;
    text-align: right;
    margin-bottom: 0.5em;
    font-size: 22px;
    font-weight: lighter;
    
  }

  .sobre .avatar {
    width: 40%;
    float: left;
    margin-right: 3em;
    padding: 2em;
    margin-top: 1em;
  }

  .login-form {
    padding: 2em;
    min-height: 100vh;
    background-color: whitesmoke;
    width: auto;
    text-align: left;
    
  }

  .formulario {
    width: auto;
    padding: 10px;
    float: right;
    margin-top:3em ;
  }
  .formulario {
    background: #5d949e;
    box-shadow: 1px 1px 5px #797979;
    margin-right: 3em;
    padding: 2em;
    margin-top: 1em;
    float: right;
    border: 5px black;
  }
  .formulario h1 {
    text-align: center;
    color: rgb(1, 8, 31);
    font-size: 40px;
  }
  .formulario .button {
    border: none;
    width: 100%;
    color: white;
    font-size: 1em;
    background: #969d89;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .formulario p{
    text-align: center;
  }
  .formulario .button:hover {
    background: #aaa;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 20px;
    width: 85%;
    padding: 10px;
    border: none;
  }
  .input-container {
    margin-bottom: 10px;
    
  }
  .icon {
    min-width: 50px;
    text-align: center;
    color: aliceblue;
  }
  .formulario .link {
    text-decoration: none;
    color: whitesmoke;
  }
  .login-form h1 {
  
    color: black;
  }
  .login-form .titulo{
    margin-top: 3em;
    font-weight: bold;
  }
  .login-form h2 {
    margin-top: 1em;
    color: black;
    margin-bottom: 2em;
  }
  
  .login-form .texto {
    color: black;
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 20px;
  }
}
