.contato {
    background-color: #5d949e;
    min-height: 5vh;
    padding: 1em;
    text-align: center;
  }
  .contato p {
    font-size: 1.2em;
    box-shadow: 0 0 5px rgb(134, 180, 189), 0 0 5px rgb(160, 180, 189);
    color: whitesmoke;
    font-weight: lighter;
    font-style: italic;
    font-family: "Open Sans", sans-serif;
  }
  .contato .icons {
    text-align: center;
    font-size: 3em;
  }
  .contato a {
    text-decoration: none;
    color: rgb(1, 8, 31);
    font-size: 1em;
    transition: text-shadow 1s;
  }

  .contato a:active,
  .contato a:hover {
    color: rgb(134, 180, 189);

    text-shadow: 0 0 5px rgb(170, 180, 309), 0 0 5px rgb(160, 180, 189);
  }