* {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: unset;
  height: 100vh;
}
/*se a tela tiver pelo menos 400px, carregue estes estilos */
@media (min-width: 300px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
  }
}

/* breakpoint*/
@media (min-width: 300px) {
  body {
    font-size: 20px;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 250px;
    padding: 0;
    float: left;
  }
   /* breakpoint*/
   @media (min-width: 1300px) {
    .logo {
      transform: translate(-40%, 0%);
    }
  }
  .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 10px rgb(160, 180, 189), 0 0 5px rgb(160, 180, 189);
  }

  
  .menu .link {
    color: black;
    padding: 10px 20px;
    display: block;
    transition: background-color 1s, color 2s;
  }
  .menu .link {
  
    text-decoration: none;
    font-size: 18px;
  }
  .menu .link:active,
  .menu .link:hover {
    color: rgb(134, 180, 189);
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(134, 180, 189), 0 0 3px rgb(160, 180, 189);
  }
  .menu .logout:hover {
    color: #2e6a92;
    background-color: rgb(2, 0, 36);
  }

  .menu ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
  }
  .menu li {
    list-style: none;
    align-self: center;
  }
  .menu .username{
    font-size: 16px;
    box-shadow: 0 0 2px  rgb(2, 0, 36);
    padding: 10px;
  }
}