
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
 }

 body{
    background-color: #f1f5ee;
}

.pg1{

    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    margin-top: -50px;
    margin-left: 910px;
    position: absolute;
}

.pg2{

    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    margin-top: -50px;
    margin-left: 1009px;
    position: absolute;
}


.logo{

    border: none;

}

.b1{

    background-color: #969d89;
    font-family: Arial;
    font-size: 20px;
    color: #ffffff;
    border-radius: 5px;
    border-color: #ffffff;
    position: absolute;
    margin-left: 1093px;
    margin-top: -55px;
     


}


.b2{

    background-color: #969d89;
    font-family: Arial;
    font-size: 20px;
    color: #ffffff;
    border-radius: 5px;
    border-color: #ffffff;
    position: absolute;
    margin-left: 1170px;
    margin-top: -55px;



}


     .fundoblue{
     margin-top: -5px;    
     }

     h1{
     color: #ffffff;
     font-family: 'Arial';
     margin-top: -400px;
     margin-left: 900px;
     position: absolute;

     }

     h2{

font-family: Arial;
margin-left: 780px;
margin-top: -335px ;
font-weight: lighter;
font-size: 15px;
padding-bottom: 30px;
     }

     .logob{
    margin-top: -250px;


     }

     
     
.formularios{
    width: 500px;
    padding-top: 100px;
    position: relative;
}
.caixa{
   box-shadow: 1px 1px 5px #797979;
   background-color: #FFFF;
   padding-top: 420px;
   padding-bottom: 30px;
   border-radius: 5px;
 padding-right: 100px;
 padding-left: 100px;
 margin-right: -840px;
 margin-left: 800px;
 margin-bottom: 200px;
 
 
}

#cardtitle{
    padding-top: 10px;
    margin-left: 110px;;
    color: #969d89;
    font-family: Arial;
    font-size: 30px;
}


.elementos>label{

    font-size: 9px;
    display: block;
    color: #797979;
}

.elementos>input{
border-radius: 5px;
outline: 0px;
width: 100%;
height: 30px;
margin-bottom: 30px;    
}

.elementos>button{

    margin-left: 120px;
    background-color: #969d89;
    font-family: Arial;
    font-size: 20px;
    color: #ffffff;
    border-radius: 5px;
    border-color: #ffffff;
    display: block;
    margin-bottom: 30px;
    padding: 9px;

    
}

.login{

color: black;
margin-left: 115px;

}
.content>h1{   
    margin-left: 15px;
    padding-top: -190px;
    margin-top: -720px;
}

.title1{
    color: #5D949E; 
    font-size: 40px;

}

.title2{
    color: black; 
    padding-top: 120px;
    font-weight: lighter;
    font-size: 22px;
}

.rodape{
    background-color: #C6D4D7;
    
    
}

.icone1{

    
    margin-left: 700px;
    margin-top: 65px;
    position: absolute;

}
.icone2{
    margin-left: 650px;
    margin-top: 65px;
    position: absolute;
}

.logorodape{

    margin-left: 15px;
    padding-top: 25px;;
    padding-bottom: 5px;

}

.footer{
    position: relative;
    bottom: 0px;
    width: 100%;
}
 h3{
    padding-top: 10px;
    margin-bottom: -50px;
    margin-left: 645px;
    font-family: Arial;
    font-size: 25px;
 }